.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border: 1px;
  margin: 5px;
  border-radius: 5px;
}

.search-button {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border: none;
  padding:10px;
  color: white;
  border: 5px;
  margin:5px;
  border-radius: 5px;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:3px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding : 3px;
  background-color: lightgrey;
  color: white;
  text-align: center;
  margin-top: 30%;
}
